/* Estilos para el contenedor principal */
.main {
    padding-top: 10px;
}

/* Estilos para el título de la página */
h1.page-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

/* Estilos para el botón "Volver" */
.btn-success {
    background-color: #28a745;
    color: #fff;
    padding: 10px 30px;
    margin-left: 30px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.8);
}

.btn-success:hover {
    background-color: #007519;
}

/* Estilos para la sección de formulario */
.form-register {
    margin-top: 10px;
}


.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

/* Estilos para el formulario */
form {
    background-color: #fff;
    padding: none;
    border-radius: none;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.8);
}

/* Estilos para los controles de formulario */
.controls {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: none;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.5);
    background-color: #fff;
}

/* Estilos para el botón de submit */
.botons {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    line-height: 1.5;
    width: 100%;
    /* Añadido para que ocupe el 100% del ancho del contenedor */
    box-sizing: border-box;
    /* Asegura que el padding no afecte al ancho total */
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.8);
}


.botons:hover {
    background-color: #007bff;
    background-color: #011098;
    /* Color de fondo naranja */
    color: #fff;
    /* Color del texto blanco */
    padding: 10px 20px;
    /* Espaciado interno */
    border: none;
    /* Sin borde */
    border-radius: 2px;
    /* Bordes redondeados */
    text-decoration: none;
    cursor: pointer;
}