/* Estilos para el contenedor principal */
.main {
    padding-top: 20px;
}

/* Estilos para el título de la página */
h1.page-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

/* Estilos para el botón "Volver" */
.btn-success {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
}

.btn-success:hover {
    background-color: #218838;
}

/* Estilos para la sección de formulario */
.form-register {
    margin-top: 20px;
}

/* Estilos para el formulario */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para los controles de formulario */
.controls {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos para el botón de submit */
.botons {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.botons:hover {
    background-color: #0056b3;
    background-color: #f0ad4e; /* Color de fondo naranja */
    color: #fff; /* Color del texto blanco */
    padding: 10px 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    text-decoration: none;
}
